body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 1500px;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
}
