:root {
    --nyanza: #d8ffddff;
    --cerulean: #0075a2ff;
    --misty-rose: #f0d2d1ff;
    --umber: #594236ff;
    --raisin-black: #201e1fff;
  }
  
  body {
    font-family: 'Inter', sans-serif; /* Texto general */
    color: var(--raisin-black);
    background-color: var(--nyanza); /* Fondo claro, fresco */
  }

  h1, h2, h3 {
    font-family: 'Roboto Condensed', sans-serif; /* Títulos */
  }
  
  h1 {
    color: var(--cerulean); /* Títulos con impacto */
  }
  
  h2 {
    color: var(--cerulean); 
    font-weight: bold
  }
  
  h3 {
    color: var(--raisin-black);
  }
  ul {
    list-style-type: none;
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
    background-color: var(--misty-rose);
    padding: 10px;
    color: var(--umber);
  }
  
  p {
    font-size: 16px;
    color: var(--raisin-black);
  }
  
  section {
    margin-bottom: 20px;
    background-color: #ffffffaa; /* Fondo blanco con opacidad */
    border-left: 6px solid var(--cerulean);
    padding: 15px;
    border-radius: 8px;
  }
  
  button {
    background-color: var(--cerulean);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: var(--umber);
  }
  
  .hero {
    background: linear-gradient(to right, var(--nyanza), var(--cerulean), var(--misty-rose));
    padding: 30px;
    color: var(--raisin-black);
    text-align: center;
    border-radius: 12px;
  }
  