* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    padding: 1rem;
}

header {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 1.5rem;
}

header, footer {
    background-color: #bbb;
    padding: 1rem;
}

section p, .left-card {
    padding: 2rem;
}

.card-container section {
    border: 1px solid #415541;
    background-color: #e9f5e9;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
}

.card-container h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #415541;
    color: #fff;
    display: block;
    text-align: center;
    padding: .75rem 0;
}

nav {
    background-color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    
nav ul {
    list-style-type: none;
}

nav li {
    display: block;
    color: #fff;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
}

nav li:hover {
    background-color: rgb(255,255,255, 0.1);
} 

nav li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: background 0.3s;
    
}

nav .active {
    background-color: rgb(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
}