@media only screen and (min-width: 640px) {
    .card-container {
        margin: 1rem 2vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }
    
    section { 
        box-shadow: 1px 1px 10px black;
    }
    
    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;           
        justify-content: space-around; 
        align-items: center;     
    }
    
    .footer-info {
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }
}

@media only screen and (min-width: 1024px) {
    .card-container {
        margin: 1rem 2vw;
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 1rem;
    }
    
    section { 
        box-shadow: 1px 1px 10px black;
    }
    
}


/* Media Query for wider than mobile viewports. Breakpoint should be based upon the design and content and use em units to be relative to the user's font size versus fixed with pixels.  

In most WDD courses there is a requirement to use a separate file. This part would go into a separate CSS file. 
*/
@media only screen and (min-width: 40em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
}